<div class="blue-field">
    <div class="field-area">
        <div class="field-division">
            <div class="left-field">
                <div class="left-goal-area-line"></div>
                <div class="left-free-throw-line"></div>
                <div class="left-seven-meter-line"></div>
                <div class="left-goal-keeper-restraining-line"></div>
                <div class="left-goal-post"></div>
            </div>
            <div class="center-field">
                <div class="center-line"></div>
            </div>
            <div class="right-field">
                <div class="right-goal-area-line"></div>
                <div class="right-free-throw-line"></div>
                <div class="right-seven-meter-line"></div>
                <div class="right-goal-keeper-restraining-line"></div>
                <div class="right-goal-post"></div>
            </div>

        </div>

    </div>

</div>
