<div class="green-field">
    <div class="field-area">
        <div class="field-division">
            <div class="goal-post-left">
                <div class="penalty-area-1"></div>
                <div class="goal-area-1"></div>
                <div class="penalty-semi-circle-1"></div>
                <div class="penalty-spot-1"></div>
            </div>

            <div class="center-cicle">
                <div class="circle"></div>
                <div class="center-line">
                    <div class="center-spot"></div>
                </div>
            </div>

            <div class="goal-post-right">
                <div class="penalty-area-2"></div>
                <div class="goal-area-2"></div>
                <div class="penalty-semi-circle-2"></div>
                <div class="penalty-spot-2"></div>
            </div>
        </div>
    </div>
</div>
