<div class="brown-field">
    <div class="field-area">
        <div class="field-division">
            <div class="left-goal-pole">
                <div class="left-three-point-line"></div>
                <div class="left-restricted-area"></div>
                <div class="left-free-throw-line"></div>
                <div class="left-no-charge-circle"></div>
                <div class="left-no-charge-vertical-line"></div>
                <div class="left-no-charge-horizontal-line"></div>
            </div>

            <div class="center-cicle">
                <div class="circle"></div>
                <div class="mid-court-line"></div>

            </div>
            <div class="right-goal-pole">
                <div class="right-three-point-line"></div>
                <div class="right-restricted-area"></div>
                <div class="right-free-throw-line"></div>
                <div class="right-no-charge-circle"></div>
                <div class="right-no-charge-vertical-line"></div>
                <div class="right-no-charge-horizontal-line"></div>
            </div>

        </div>
    </div>

</div>
