<p-toolbar styleClass="main-toolbar">
  <div class="p-toolbar-group-left">
    <span class="item">Fields</span>
  </div>

  <div class="p-toolbar-group-right">
    <div class="toolbar-item-group">
      <div class="item" routerLink="/football" routerLinkActive="active-link">
        <img src="../../../assets/images/football.png" class="image-icon" />
        <span>Football</span>
      </div>

      <div class="item" routerLink="/basketball" routerLinkActive="active-link">
        <img src="../../../assets/images/basketball.png" class="image-icon" />
        <span>Basketball</span>
      </div>

      <div class="item" routerLink="/handball" routerLinkActive="active-link">
        <img src="../../../assets/images/handball.jpg" class="image-icon" />
        <span>Handball</span>
      </div>

      <div class="item" routerLink="/volleyball" routerLinkActive="active-link">
        <img src="../../../assets/images/volleyball.png" class="image-icon" />
        <span>Volleyball</span>
      </div>

      <div
        class="item"
        routerLink="/tennis-ball"
        routerLinkActive="active-link"
      >
        <img
          src="../../../assets/images/table-tennis-ball.png"
          class="image-icon"
        />
        <span>Tennisball</span>
      </div>
    </div>
  </div>
</p-toolbar>
